.App {
  font-family: sans-serif;
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.w-200px {
  width: 200px;
}
